/* CUSTOM CSS */

body {
  /*background-image:url('/static/webster/img/background2.jpeg');*/
  background-repeat: no-repeat;
  background-color: rgb(201, 215, 216);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 0%;
}

.margin {
  margin-top: 40px;
}

#webster {
  color: pink;
  font-weight: bolder;
}

.home-brand {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav-item {
  font-size: 1.5rem;
  text-transform: capitalize;
}

header.masthead {
  padding-top: calc(3rem + 10px);
  padding-bottom: 3rem;
}

hr.star-dark {
  border-color: #2c3e50;
}

hr.star-dark,
hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-dark:after {
  color: #2c3e50;
  background-color: #fff;
}
#kom {
  width: 480px;
  height: 300px;
}

#books {
  color: black;
  font-weight: bold;
}

hr.star-dark:after,
hr.star-light:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

label {
  color: #fff;
}

.pflink {
  background-color: #2c3e50;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.pflink:hover {
  background-color: #3858f5;
}

.pflink a {
  color: #fff;
  font-size: 22px;
  height: 100%;
  display: block;
}

.pflink a:hover {
  text-decoration: none;
}

.about-1 {
  background-color: #2c3e50;
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 20px;
}
.about-2 {
  background-color: #596777;
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 20px;
}
#projectt {
  background-color: #2c3e50;
  color: #fff;
  border-radius: 15px;
  border: 2px solid #2c3e50;
  padding: 20px;
}

#buttonn {
  background-color: #2c3e50;
  color: #fff;
}

.btn-cv {
  background-color: #2c3e50;
  color: #fff;
}

.btn-cv:hover {
  background-color: #0070e1;
  border: 1px solid #fff;
  color: #fff;
}
.avosa {
  color: white;
  font-weight: bold;
}
#edit {
  background-color: ;
}

#unique {
  font-size: 17px;
  font-weight: bold;
}
#alafu {
  color: palegreen;
  font-weight: bold;
}
#qwerty {
  background-color: #2c3e50;
}

.footer {
  padding-top: 4%;
  padding-bottom: 3rem;
  background-color: #000000;
  color: #fff;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(3rem + 20px);
    padding-bottom: 3rem;
  }
}
